body {
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
}

.dog-container {
  display: flex;
  flex-wrap: wrap;
}

.nav-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ef9a9a;
}

.nav-wrapper li {
  float: left;
}

.nav-wrapper li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-wrapper li a:hover {
  background-color: #e57373;
}


.component-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.dog-component {
  display: flex;
  display: grid;
  margin: 20px;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 3px 3px 3px 3px #888888;
}


img.expand {
  width: 30em;
}

img.expand-home {
  width: 50em;
  margin-left: 350px;
  border: 5px solid #DCDCDC;
  border-radius: 3%;


}

.name {
  font-size: 40px;
  color: #ef9a9a;
}

a:link {
  color: #ef9a9a;
}

 a:visited {
  color: grey;
}

 a:active {
  color: #ef9a9a;
}


.nav-wrapper .logo {
  justify-content: left;
}

.home-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 3px 3px #DCDCDC;
}

.logo {
  font-size: 50px;
  margin-left: 650px;
  text-shadow: 4px 4px #DCDCDC;

}

 .drop-down{
   display: inline-block;
   flex-wrap: wrap;
   margin-left: 180px;
   padding: 20px;
   border-radius: 5%;
   border: 3px solid #DCDCDC;
   text-shadow: 2px 2px #DCDCDC;

}

.legend {
  margin-bottom: 8px;
  margin-top: 15px;
  margin-right: 80px;
  text-shadow: 2px 2px #DCDCDC;

}

.dog-info3 {
  margin-left: 800px;
  margin-top: -300px;
  font-size: 20px;
  text-shadow: 2px 2px #DCDCDC;

}

.dog-info4 {
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 20px;
  text-shadow: 2px 2px #DCDCDC;

}

#contact{
  margin-left: 1300px;
  margin-top: 50px;
  border:1px solid #ef5350;
  border-radius: 2%;
  padding: 6px 8px;
  color: black;
  cursor:pointer;
  border-radius: 5%;
}

 button {
   border:1px  solid #ef5350;
   padding: 6px 8px;
   color: black;
   cursor:pointer;
   background-color: #ef9a9a;
   border-radius: 5%;
 }



 /*my account*/
/* .dog-info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 800px
} */
